html,
body,
h1,
h2,
h3,
h4,
div,
ul,
ol,
p,
dl,
dd {
    margin: 0;
    padding: 0;
    outline: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    font-family: "Microsoft YaHei", sans-serif;
    background-color: #eeeeee;
}

.page-header {
    position: relative;
    height: 60px;
    width: 100%;
    background-color: #333333;
}

.page-header h1 {
    position: absolute;
    left: 40px;
    bottom: 15px;
    color: #ffffff;
}

.page-header nav {
    position: absolute;
    right: 20px;
    bottom: 25px;
}

.page-header nav a {
    font-size: 12px;
    text-decoration: none;
    color: #ffffff;
}

.page-header li {
    float: left;
    margin-left: 10px;
    list-style: none;
}

.content > article {
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
}

article header h3 {
    color: #64686B;
}

article header h4,
article header time {
    display: inline-block;
    font-size: 12px;
    color: #64686B;
}

article > p {
    text-indent: 2em;
}

article > ul {
    list-style: none;
}

article > ol {
    margin-left: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td {
    border: 1px #cccccc solid;
}

.table-header {
    font-weight: 700;
    text-align: left;
    color: #ffffff;
    background-color: #333333;
}

.table-footer {
    font-weight: 700;
    text-align: left;
    color: #000000;
    background-color: #cccccc;
}

aside {
    margin: 30px;
    padding: 20px;
    background-color: #ffffff;
}

aside header{
    padding: 10px;
    border-left: 3px #cccccc solid;
}

aside > section {
    width: 80%;
    margin: auto;
}

form .form-control {
    margin-top: 20px;
}

form .control-label {
    display: inline-block;
    min-width: 30%;
    margin-right: 15px;
    text-align: right;
}

form textarea{
    vertical-align: top;
    display: inline-block;
    width: 50%;
    height: 200px;
}

form .help-block {
    display: block;
    padding-left: 32%;
    padding-top: 4px;
    font-size: 13px;
    color: #d02121;
}

.btn-submit {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    background-color: rgba(51, 85, 208, 0.8);
    color: #fff;
}